h1{
    text-align: center;
    margin: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1%;
    font-style: italic;
}

.p-2{
    margin-right: 2%;
}

.d-flex{
    width: 70%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

img{
    width: 100%;
    height: 80%;
}

h3{
    text-align: center;
    font-size: 1.5vw;
    margin-top: 1%;
}

a{
    text-decoration: none;
    color: black;
}